@import "../../styles/mixins/index.scss";
@import "../../styles/variables/colors.scss";

.dropdownOptionsWrapper {
    background-color: $white;
    border: 1px solid $gray-100;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 6px 2px;

    & div {
        border: none ! important;
    }
}