$text-primary-color: rgba(26, 26, 30, 1);
$active-tab-color: rgba(21, 112, 239, 1);
$active-badge-border-color: rgba(178, 221, 255, 1);
$badge-border-color: rgba(228, 228, 231, 1);
$bg-color-underlineFilled: rgba(239, 248, 255, 1);

.tabItemWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-family: "Inter", sans-serif;
    height: 100%;
    padding: 0px 8px;

    &.size32 .tabItem {
        font-size: 12px;
        line-height: 20px;
        height: 32px;
    }

    &.size36 .tabItem {
        font-size: 14px;
        line-height: 24px;
        height: 36px;
    }

    &.size40 .tabItem {
        font-size: 14px;
        line-height: 24px;
        height: 40px;
    }

    &.active {
        border-bottom: 2px solid $active-tab-color;

        & .tabItem {
            color: $active-tab-color;
        }

        & .tabBadge {
            border-color: $active-badge-border-color;
            color: $active-tab-color;
            background-color: $bg-color-underlineFilled;
        }

        &.underlineFilled {
            background-color: $bg-color-underlineFilled;
        }
    }

    & .tabItem {
        background-color: transparent;
        cursor: pointer;
        text-wrap: nowrap;
        overflow: hidden;
        font-weight: 600;
        color: $text-primary-color;
        height: 100%;
        padding: 0px;
    }

    .tabBadge {
        width: 20px;
        height: 20px;
        margin-left: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $badge-border-color;
        border-radius: 4px;
        color: $text-primary-color;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
    }

}