.tabsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    scrollbar-width: thin;

    &.scrollable {
        overflow-x: auto;
    }

    &.dropdown {
        position: relative;
        overflow: hidden;
    }

    &.arrows {
        overflow-x: hidden;
    }
}