$border-primary-color: rgba(209, 209, 214, 1);

.container {
    display: flex;
    flex-direction: column;

    .tabsWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $border-primary-color;

        &.size32 {
            height: 31px;
        }

        &.size36 {
            height: 35px;
        }

        &.size40 {
            height: 39px;
        }
    }

    .dropdownPosition {
        width: 200px;
        position: relative;
        text-align: center;
        margin-left: auto;

    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;

    }
}