$color-tooltip-background: rgba(19, 19, 22, 1);
$fill-bg: rgba(255, 255, 255, 1);
@import "../../styles/mixins/index.scss";
@import "../../styles/variables/colors.scss";

.infoTooltipWrapper {
    position: relative;
    display: inline-block;
    margin-left: 4px;

    & img {
        width: 10px;
        height: 10px;
    }

    & .tooltipContainer {
        width: 150px;
        position: absolute;
        bottom: calc(100% + 2px);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;

        & .tooltip {
            background: $color-tooltip-background;
            color: $fill-bg;
            padding: 8px 12px;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            max-width: 111px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            & .tooltipText {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        & .tooltipArrow {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $color-tooltip-background;
            margin-top: -1px;
        }
    }
}