$focus-outline-color: rgba(46, 144, 250, 0.24);
$focus-error-color: rgba(240, 68, 56, 0.24);
@import "../../styles/mixins/index.scss";
@import "../../styles/variables/colors.scss";

.wrapper {
    width: 323px;
    display: flex;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;

    &.size24 {
        & .inputContainer {
            height: 24px;
        }

        & .inputWrapper .input {
            height: 22px;
            font-size: 12px;
            line-height: 20px;
        }

        & .labelWrapper .label {
            font-size: 12px;
            line-height: 20px;
        }

        &.labelPositionTop {
            gap: 4px;
        }

        & .helperTextWrapper .helperText {
            font-size: 12px;
            line-height: 20px;
        }
    }

    &.size32 {
        & .inputContainer {
            height: 32px;
        }

        & .inputWrapper .input {
            height: 30px;
            font-size: 12px;
            line-height: 20px;
        }

        & .labelWrapper .label {
            font-size: 12px;
            line-height: 20px;
        }

        &.labelPositionTop {
            gap: 4px;
        }

        & .helperTextWrapper .helperText {
            font-size: 12px;
            line-height: 20px;
        }
    }

    &.size36 {
        & .inputContainer {
            height: 36px;
        }

        & .inputWrapper .input {
            height: 34px;
            font-size: 12px;
            line-height: 20px;
        }

        & .labelWrapper .label {
            font-size: 12px;
            line-height: 20px;
        }

        &.labelPositionTop {
            gap: 4px;
        }

        & .helperTextWrapper .helperText {
            font-size: 12px;
            line-height: 20px;
        }
    }

    &.size40 {
        & .inputContainer {
            height: 40px;
        }

        & .inputWrapper .input {
            height: 38px;
            font-size: 14px;
            line-height: 24px;
        }

        & .labelWrapper .label {
            font-size: 14px;
            line-height: 24px;
        }

        &.labelPositionTop {
            gap: 6px;
        }

        & .helperTextWrapper .helperText {
            font-size: 14px;
            line-height: 24px;
        }

    }

    &.size44 {
        & .inputContainer {
            height: 44px;
        }

        & .inputWrapper .input {
            height: 42px;
            font-size: 14px;
            line-height: 24px;
        }

        & .labelWrapper .label {
            font-size: 14px;
            line-height: 24px;
        }

        &.labelPositionTop {
            gap: 6px;
        }

        & .helperTextWrapper .helperText {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &.size48 {
        & .inputContainer {
            height: 48px;
        }

        & .inputWrapper .input {
            height: 46px;
            font-size: 14px;
            line-height: 24px;
        }

        & .labelWrapper .label {
            font-size: 14px;
            line-height: 24px;
        }

        &.labelPositionTop {
            gap: 6px;
        }

        & .helperTextWrapper .helperText {
            font-size: 14px;
            line-height: 24px;
        }
    }


    &.labelPositionTop {
        flex-direction: column;

        &.noLabel {
            gap: 0;
        }

        .inputWrapper input {
            width: 100%;
        }
    }

    &.labelPositionSide {
        flex-direction: row;
        justify-content: space-between;

        & .labelWrapper {
            display: flex;
            align-items: center;
        }

        .inputWrapper input {
            width: 38px;
        }

    }

    & .labelWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    & .inputContainer {
        display: flex;
        flex-direction: column;

        &.error {
            & .inputWrapper {
                border: 1px solid $error-300 !important;

                &:focus-within {
                    border: 1px solid $error-300 !important;
                    outline: 4px solid $focus-error-color;
                }

                &:hover {
                    border: 1px solid $error-300 !important;
                }
            }

            & .helperTextWrapper .helperText {
                color: $error-600;
            }

        }

        & .inputWrapper {
            padding: 0 12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            border-radius: 4px;

            &:hover {
                border: 1px solid $gray-300 !important;
            }

            &:focus-within {
                border: 1px solid $brand-300 !important;
                outline: 4px solid $focus-outline-color;
            }

            &.fillNoQuiet {
                background-color: $white;
                border: 1px solid $gray-300;
            }

            &.outlineNoQuiet {
                background-color: transparent;
                border: 1px solid $gray-300;
            }

            &.fillQuiet {
                background-color: $white;
                border: 1px solid transparent;
            }

            &.outlineQuiet {
                background-color: transparent;
                border: 1px solid transparent;
            }


            & .input {
                font-family: "Inter", sans-serif;
                font-weight: 400;
                padding: 0;
                color: $text-color;
                background-color: transparent;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &::placeholder {
                    color: $gray-400;
                }

                &.leftAlignment {
                    text-align: left;

                    &::placeholder {
                        text-align: left;
                    }
                }

                &.rightAlignment {
                    text-align: right;

                    &::placeholder {
                        text-align: right;
                    }
                }
            }

            & .badge {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 20px;
                border: 1px solid $gray-300;
                border-radius: 4px;
                font-size: 12px;
                line-height: 20px;
            }

            &.multipleSelect {
                & .input {
                    width: 135px;
                }
            }

            & .selectTools {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                min-width: 36px;
                height: 16px;

                & img {
                    cursor: pointer;
                }

                & .closeIcon {
                    height: 8px;
                    width: 8px;
                }

                & .dropdownIcon {
                    height: 6px;
                    width: 12px;
                }
            }
        }

        & .helperTextWrapper .helperText {
            display: block;
            text-align: left;
            font-weight: 400;
            color: $gray-600;
            margin-top: 4px;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }


    &.disabled,
    &.disabled * {
        cursor: not-allowed;
    }

    &.disabled .labelWrapper .label {
        color: $gray-500;
    }

    &.disabled .inputWrapper {
        border: 1px solid $gray-300;
    }


}