@import "../../styles/mixins/index.scss";
@import "../../styles/variables/colors.scss";

.verificationInputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Inter", sans-serif;

    & .label,
    & .helperText {
        max-width: 200px;
        font-size: 14px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & .label {
        font-weight: 500;
        color: $gray-700;
        margin-bottom: 6px;
    }

    & .helperText {
        font-weight: 400;
        color: $gray-600;
        margin-top: 6px;
    }

    & .inputContainer {
        display: flex;
        flex-direction: row;
        gap: 12px;

        & .singleVerificationInput {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0;
            color: $gray-300;
            border: 1px solid $gray-300;
            font-weight: 500;

            &::placeholder {
                color: $gray-300;
            }

            &:focus {
                color: $brand-600;
                border: 2px solid $brand-600;
                outline: 4px solid rgba(46, 144, 250, 0.24);
            }

            &.filled {
                border: 2px solid $brand-600;
                color: $brand-600;
            }
        }

        &.size64 {
            & .singleVerificationInput {
                width: 64px;
                height: 64px;
                font-size: 48px;
                border-radius: 10px;
                line-height: 60px;

            }
        }

        &.size80 {
            & .singleVerificationInput {
                width: 80px;
                height: 80px;
                font-size: 48px;
                border-radius: 10px;
                line-height: 60px;

            }
        }

        &.size96 {
            & .singleVerificationInput {
                width: 96px;
                height: 96px;
                font-size: 60px;
                border-radius: 12px;
                line-height: 72px;
            }
        }
    }
}