$text-primary-color: rgba(26, 26, 30, 1); // HEX: #1A1A1E
$active-tab-color: rgba(21, 112, 239, 1); // HEX: #1570EF
$active-badge-border-color: rgba(178, 221, 255, 1); // HEX: #B2DDFF
$badge-border-color: rgba(228, 228, 231, 1); // HEX: #E4E4E7
$bg-color-underlineFilled: rgba(239, 248, 255, 1); // HEX: #EFF8FF
$color-disabled: #D1D1D6; // HEX: #D1D1D6
$bg-badge-color: rgba(250, 250, 250, 1); // HEX: #FAFAFA
$border-color: rgba(242, 242, 242, 1); // HEX: #F2F2F2
$bg-color: rgba(255, 255, 255, 1); // HEX: #FFFFFF
////
/// 
$gray-900: #1A1A1E;
$brand-600: #1570EF;
$brand-200: #B2DDFF;
$gray-200: #E4E4E7;
$brand-50: #EFF8FF;
$gray-300: #D1D1D6;
$gray-50: #FAFAFA;
$white: #FFFFFF;
$gray-100: #F2F2F2;