$gray-900: #1A1A1E; //rgba(26, 26, 30, 1)
$brand-600: #1570EF; //rgba(21, 112, 239, 1)
$brand-200: #B2DDFF; //rgba(178, 221, 255, 1)
$gray-200: #E4E4E7; //rgba(228, 228, 231, 1)
$brand-50: #EFF8FF; //rgba(239, 248, 255, 1)
$gray-300: #D1D1D6; //rgba(209, 209, 214, 1)
$gray-50: #FAFAFA; //rgba(250, 250, 250, 1)
$white: #FFFFFF; //rgba(255, 255, 255, 1)
$gray-100: #F2F2F2; //rgba(242, 242, 242, 1)
$gray-500: #70707B; //rgba(112, 112, 123, 1)
$gray-400: #A0A0AB; //rgba(160, 160, 171, 1)
$gray-600: #51525C; //rgba(81, 82, 92, 1)
$brand-300: #84CAFF; //rgba(132, 202, 255, 1)
$error-600: #D92D20; //rgba(217, 45, 32, 1)
$error-300: #FDA29B; //rgba(253, 162, 155, 1)
$gray-700: #3F3F46; //rgba(63, 63, 70, 1)
$gray-600: #51525C; //rgba(81, 82, 92, 1)